body{
  
  background-color: rgb(244, 245, 251) !important;
  margin-bottom: 100px !important;
}

.cardsHeaders{
  display: flex;
  justify-content: space-around;
  padding-left: 15px; 
  padding-right: 15px;
  margin-top: 25px;
  
}
.cardsHeaders_card1Icon{
  color: rgb(98, 0, 234);
  overflow: hidden;
}
.cardsHeaders_card2Icon{
  color: rgb(255, 179, 0);
  overflow: hidden;
}
.cardsHeaders_card3Icon{
  color: rgb(163, 73, 164);
  overflow: hidden;
}
.cardsHeaders_card4Icon{
  color: rgb(38, 166, 154);
  overflow: hidden;
}
.cardsHeaders_card_card{
  background-color: transparent;
}
.section-body{
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.bodyCard:nth-child(2){
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
  border: none !important;
  width: 50% !important;
}
.bodyCard:nth-child(1){
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
  border: none !important;
  width: 50% ;
  margin-right: 25px !important;
}
.cardsHeaders .cardsHeaders_card:nth-child(1){
  width: 200px;
  overflow: hidden;
  margin-left: 8px;
  border: none;
  height: 100px;
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
  border-left: 4px rgb(98, 0, 234) solid;
}
.cardsHeaders .cardsHeaders_card:nth-child(2){
  width: 200px;
  overflow: hidden;
  margin-left: 8px;
  border: none;
  height: 100px;
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
  border-left: 4px rgb(255, 179, 0) solid;
}
.cardsHeaders .cardsHeaders_card:nth-child(3){
  width: 200px;
  overflow: hidden;
  margin-left: 8px;
  border: none;
  height: 100px;
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
  border-left: 4px rgb(163, 73, 164) solid;
}
.cardsHeaders .cardsHeaders_card:nth-child(4){
  width: 200px;
  overflow: hidden;
  margin-left: 8px;
  border: none;
  height: 100px;
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
  border-left: 4px rgb(38, 166, 154) solid;
}

.MySpin{
  display: block;
  position: absolute;
  top: 35%;
  left: 45%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .cardsHeaders{
      margin: 0 auto;
      width: 80%;
      display: block;
  }
  
  .cardsHeaders .cardsHeaders_card:nth-child(1){
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    border: none;
    height: 100px;
    box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    border-left: 4px rgb(98, 0, 234) solid;
  }
  .cardsHeaders .cardsHeaders_card:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    border: none;
    height: 100px;
    box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    border-left: 4px rgb(255, 179, 0) solid;
  }
  .cardsHeaders .cardsHeaders_card:nth-child(3){
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    border: none;
    height: 100px;
    box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    border-left: 4px rgb(163, 73, 164) solid;
  }
  .cardsHeaders .cardsHeaders_card:nth-child(4){
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    border: none;
    height: 100px;
    box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    border-left: 4px rgb(38, 166, 154) solid;
  }

  .section-body{
    display: block !important;
    margin-top: 45px;
    width: 100%;
  }
  .bodyCard:nth-child(2){
    box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    border: none !important;
    width: 97% !important;
  }
  .bodyCard:nth-child(1){
    box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
    border: none !important;
    width: 97% ;
    margin-bottom: 25px;
    margin-right: 25px !important;
  }
  .MySpin{
    display: block;
    position: absolute;
    top: 35%;
    left: 38%;
    text-align: center;
  }
}